:root {
  --main-color: #626262;
  --second-color: #b4ad9e;
  --header-link-hover-color: #188dbb;
}

/* header///////////////// */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.site-nav__link {
  font-family: 'Playfair Display SC', sans-serif;
  color: var(--main-color);
  font-size: 14 px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--header-link-hover-color);
}

/* ////// */
